img{
    position: absolute;

      left: 570px;
      top: 250px;
}

h3{
    color: blue;
    position: absolute;
    left: 650px;
    top: 350px;
}

.topnav input[type=text] {
    position: absolute;
    left: 600px;
    top: 400px;
    font-size: 25px;
    color: white;
}

button{
    position: absolute;
    left: 930px;
    top: 400px;
}





